* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #1e1f26;
  --sec-background: #2a2c36;
  --text: #f1f1f1;
  --primary: #4f8cff;
  --accent: #ffb347;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 120px auto 0 auto;
  max-width: 500px;
}

.stats {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--primary);
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.details {
  width: 100%;
}

#progress-bar {
  width: 100%;
  height: 10px;
  background: var(--sec-background);
  margin-top: 40px;
  border-radius: 5px;
}

#progress {
  width: 0;
  height: 10px;
  background-color: var(--accent);
  border-radius: 10px;
  transition: all 0.3s ease;
}

#number {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
}

form {
  margin-top: 50px;
  width: 100%;
  display: flex;
  gap: 10px;
}

input {
  padding: 16px;
  background-color: var(--sec-background);
  border: 1px solid var(--primary);
  border-radius: 10px;
  flex: 1;
  color: var(--text);
  font-size: 15px;
  font-weight: bold;
  outline: none;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border: none;
  color: var(--text);
  font-size: 30px;
}

#task-list {
  width: 500px;
  list-style: none;
  padding: 0;
  margin: 20px;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(40, 50, 90, 0.8);
  padding: 12px 16px;
  border-radius: 12px;
  margin-bottom: 12px;
  backdrop-filter: blur(6px);
  transition: 0.2s ease;
}

.icons img {
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.taskItem:hover {
  transform: scale(1.02);
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox {
  width: 18px;
  height: 18px;
  accent-color: #3b82f6;
  /* blue */
  cursor: pointer;
}

.task p {
  margin: 0;
  font-size: 14px;
  transition: 0.2s;
}

.checkbox:checked+p {
  text-decoration: line-through;
  color: #15cde5;
}

.icons {
  display: flex;
  gap: 12px;
}

.icons img {
  width: 18px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.icons img:hover {
  opacity: 1;
  transform: scale(1.15);
}